fastapi
uvicorn[standard]
pymysql
redis
rank-bm25
jieba
numpy
pandas
openai
langsmith
torch
transformers
sentence-transformers
pymilvus
milvus-model
langchain-core
langchain-community
langchain-text-splitters
langchain-openai
pillow
opencv-python
PyMuPDF
python-docx
python-pptx
tqdm
rapidocr-onnxruntime
ragas
datasets
modelscope
